
<% if @user.errors.any? %>
	<div id="alert-message error">
	  <% @user.errors.full_messages.each do |msg| %>
	    <li><%= msg %></li>
	  <% end %>
	  </ul>
	</div>
<% end %>
<!-- <div class="alert-message block-message success fade in" data-dropdown="dropdown">
	<a href="#" class="dropdown-toggle">Debug</a>
	<%= debug @user %>
</div> -->
<% if @user != current_user %>
	<div class="pull-right">
		<%= link_to "Write a review for this user", new_review_path(:reviewee_id => params[:id]) %>
	</div>
<% end %>
<div class="row">
	<div class="span4">
		<div class="row">
			<ul class="unstyled">
		    <li><h2><%= "#{@user.first_name} #{@user.last_name}" %></li></h2>
				<li><%= image_tag @user.profilepic.url(:small) %></li>
				<li>Username: <%= @user.username %></li>
			    <li>City: <%= @user.city %></li>
				<% if permitted_to? :edit, @user %>
					<li><%= link_to "Edit your account", edit_user_path %></li>
				<% end %>
				</ul>
				Average Rating: <%= render "rating" %>
				
		</div>
		<div class="row">
			<h3>Friends</h3>
			  <ul>
			      <% @user.friendships.each do |friendship| %>
			        <li><%= link_to friendship.friend.username, user_path(friendship.friend.id) %> 
						<% if permitted_to? :destroy, friendship %>
							(<%= link_to "remove", friendship, :method => :delete %>)
						<% end %>
					</li>
			      <% end %>

			  </ul>
		</div>
		<div class="row">
			<h3>Reviews by <%= @user.first_name %></h3>
			  <ul>
			      <% @user.reviews_written.each do |review| %> 
			        <li><%= link_to review.title, review %></li>
			      <% end %>
			  </ul>
		</div>
	</div>
	<div class="span12">
		<div class="row">
		  	<% @user.reviews_about.each do |review| %> 
		        <div class="span8">
					<h3><%= link_to review.title, review %></h3>
					<p class="small">written by <%= link_to "#{review.reviewer.first_name} #{review.reviewer.last_name}", user_path(review.reviewer) %></p>
					<p><%=h truncate(review.body, :length => 150, :omission => '...(continued)') %></p>
					<hr>
				</div>
		      <% end %>
		</div>
	</div>

</div>


