
<p id="notice"><%= notice %></p> 
<div class="actions">
	<div class="review">
		<p><%= @review.reviewee.username %></p>
		<p class="review-title"><%= @review.title %></p>
		<p class="review-body"><%= @review.body %></p>
		<br>
		<p>Reviewed By: <%= @review.reviewer.username %></p>
	</div>
</div>